### Python ###
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# data/progress
progress/
html_docs/
text_docs/

# other temp files
/*.html
/webtext.txt

# database dir
/*_db

# Include key_urls
!key_urls.json