### Python ###
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# large data
data/scraping/html_docs
data/scraping/text_docs
data/scraping/json_docs
data/previous_runs

# other temp files
/*.html
/webtext.txt
temp/