### Python ###
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
tempenv/

# Jupyter Notebook
.ipynb_checkpoints

# large/sensitive data
data/
*.csv

# Gradio
.gradio/

# other temp files
/*.html
temp/